body {
    background-color: aqua;
    color: coral;
}

.container {
    background-color: blueviolet;
    color: bisque;
}

#buttons {
    display: none;
}

#teenager {
    display: none;
}

#adult {
    display: none;
}

#deceased {
    display: none;
}